body{
    background: #333;
    text-align: center;
    color: red;
}

.clock{
    font-size: 4em;
    text-align: center;
    margin: 200px auto;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}

.clock span{
    padding: 20px;
    background: #444;
}